/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

/* CSS variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Base styling */
body {
  color: var(--foreground);
  background: #ffffff !important;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background: #ffffff !important;
}

.text-balance {
  text-wrap: balance;
}
